body {
  font-family: Roboto;
  max-width: 100%;
  max-height: 100%;
  padding: 0 5%;
  margin: 0;
  margin-top: 25px;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Amatic SC;
}

h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
}

.nav {
  font-size: 10px;
}


.nav ul {
  text-transform: uppercase;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.nav li {
  display: inline;
}

.nav li::after {
  content: " - ";
}

.nav li:last-of-type::after {
  content: "";
}

.nav .header h2 {
  display: inline;
  max-width:100%;
}

#theNumberOfSpots {
  display: inline;
  margin-left: 10px;
}

#theNumberofSpots p {
  display: inline;
}

#map {
  max-height: 500px;
  height: 400px;
  width: 100%;
  margin: 0 auto 2em auto;
  background: #DADADA;
}

#selectedSpot {
  border-bottom: 1px black solid;
  margin-bottom: 1em;
}

#selectedSpot .header h2 {
  float: left;
  margin: auto 0;
}

#selectedSpot .header p {
  float: left;
  margin: 20px 0 auto 25px;
  font-size: 1.2em;
}

#selectedSpot .header {
  background-color: #FF4646;
  padding: 10px 1em;
  color: #FFFFFF;
  max-width: 46%;
}

#selectedSpot ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  font-size: 14px;
}

#selectedSpot .external-links li {
  display: inline;
  margin-right: 1em;
}

.searchbox {
  margin: 0 auto 2em auto;
}

#tableFilter {
  margin: 12px 0px;
  border: none;
  border-bottom: 1px solid #333;
  background-color: transparent;
  padding: 0px;
  font-family: Lato;
  color: #333;
  font-size: 13px;
  height: 22px;
  width: 33%;
}

.hackspots {
  margin-top: 1em;
  margin-bottom: 2em;
}

.hackspots table {
  width: 100%;
  cursor: pointer;
}

.hackspots th {
  color: #888;
  text-align: left;
  margin-bottom: 2em;
}

.spotRow td {
  padding: 5px 0;
}

.spotRow:hover {
  color: #47CCFC;
}

#info {
  margin-bottom: 50px;
}

.button:hover {
  background: #B9FCFC;
  color: #47CCFC;
  cursor: hand;
}

.button {
  padding: 5px 5px;
  background-color: #BEBEBE;
  font-size: 10px;
  color: #fff;
}

.category {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: .2em;
  padding-right: 6px;
}

a {
  color: #666;
  border-style: none;
  text-decoration: none;
}

a:hover {
  color: #47CCFC;
  border-bottom: 1px #FD9393 solid;
}

a:visited {
  color: #999;
  border-style: none;
}

